@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

@font-face{
	font-family: "EB Garamond";
}

body{
	background-color: #619bf9;
}

.bodydiv{
	position: absolute;
	  width: 800px;
	  left: 50%;
	  margin: 0 0 0 -500px;
}

@media only screen and (max-width: 700px) {
	.bodydiv{
		transform: scale(.3);
		left: 69%;
	}
} 

.title{
	font-family: "Lora", serif;
	font-size: 40px;
	text-align: center;
	width: 1000px;
	letter-spacing: 7px;
	position: absolute;
	top: 0px;
}

.divider{
	background-color: #d6d6d6;
	height: 1px;
	width: 800px;
	position: absolute;

	opacity: 0;
}

#dtop{
	position: absolute;
	top: 100px;
}

#dbottom{
	position: absolute;
	top: 170px;
}

.menu{
	color: #d6d6d6;
	font-family: "Lora", serif;
	font-size: 20px;
	position: absolute;
	width: 900px;
	top: 130px;
	letter-spacing: 1.2px;
	  left: 50%;
	  margin: 0 0 0 -333px;
}

a{
	color: #ffffff;
	text-decoration: none;
	font-family: "EB Garamond", serif;
	
}

a:hover{
	text-decoration: underline;
}

p{
	color: #ffffff;
	font-family: "EB Garamond", serif;
}

.menuItem:hover{
	text-decoration: underline;
}

#homeHeader{
	position: absolute;
	font-family: "Lora", serif;
	font-size: 20px;
	text-align: center;
	width: 1000px;
	font-style: italic;
	position: absolute;
	top: 88px;
	letter-spacing: 1.2px;
}

#home{
	margin: 0px;
	position: absolute;
	left: 0px;
}

#pub{
	margin: 0px;
	position: absolute;
	left: 469px;
}

#about{
	margin: 0px;
	position: absolute;
	left: 229px;
}

#resources{
	position: absolute;
	left: 760px;
	top: 0px;
}

.currentPage{
	font-style: italic;
	
}

#point1{
	margin: 0px;
	position: absolute;
	left: 135px;
}

#point2{
	margin: 0px;
	position: absolute;
	left: 370px;
}

#point3{
	margin: 0px;
	position: absolute;
	left: 667px;
}

.body{

}

.mHome{
	top: 580px;
}

#homePhotos{
	position: absolute;
	top: 160px;
	width: 800px;
	  left: 50%;
	  margin: 0 0 0 -312px;
}

.slidePhoto{
    position: absolute;


    transition: opacity 4s;
    height: 400px;


}

#photo1{
	left: 55px;

	opacity: 1;
	z-index: 2;
}

#photo2{
	left: 250px;

	opacity: 0;
	z-index: 1;
}

#photo3{
	left: 145px;

	opacity: 0;
	z-index: 1;
}

#headshot{
	position: absolute;
	left: 50px;
	top: 225px;
	width: 350px;
}

#aboutDiv{
	position: absolute;
	top: 200px;
	left: 450px;
	width: 650px;
}

#aboutText{
	position: relative;
	font-size: 18px;
	width: 600px;
}


#contactDiv{
	position: absolute;
	top: 180px;
	width: 600px;
}

#textDiv{
	position: absolute;
	top: 50px;

}

#contactInfo{
	position: relative;
	top: 20px;
	left: 0px
	width: 600px;
}

#researchHeader{
	position: relative;
	font-size: 18px;
	font-weight: bold;
	top: 40px;
}

#researchInterests{
	position: relative;
	top: 30px;
	left: 0px;
	width: 600px;
}

#resourcesBody{
	position: absolute;
	top: 180px;
	left: 200px;
}

#resourcesPhoto{
	position: absolute;
	top: 200px;
	left: 600px;
}



#publicationsBody{
	position: absolute;
	top: 530px;
	left: 50px;
	height: 1000px;
}

.pubHeader{
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.pubBody{
	width: 1000px;
	height: 60px;
	left: 0px;
	font-size: 20px;
}


#pubPhoto{
	position: absolute;
	left: 180px;
	top: 150px;
	transform: scale(.8);
}

.insta{
 	width: 1000px;
 	left : -200px;
}